<ion-content color="light" class="parent" [fullscreen]="true">
<ion-button expand="block" fill="outline" color="primary" class="login-button" (click)="openLoginModal()">
  Login
</ion-button>
  <ion-grid class="child">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-text class="ion-color-primary-contrast ion-text-center">
          <h1 class="app-name ion-no-margin">Poker Staking</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-text class="ion-color-primary-contrast ion-text-center">
          <h1 class="app-info ion-no-margin">One Stop Shop for your staking needs</h1>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>